@import 'tailwindcss';

@theme {
  --color-theme-gray: #2f333f;
  --color-theme-red: #cb2a38;
  --color-theme-dark-gray: #2f333f;
}

.banner {
  background-image: url('/assets/food.jpg');
  background-size: cover;
}

.darkerlayer:after,
.banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
}

.darkerlayer {
  position: relative;
}

.hero {
  position: absolute;
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero:after {
  content: '';
  height: 900px;
  position: absolute;
  width: 910px;
  background: #2f333f;
  right: -40vw;
  top: -210px;
  border-radius: 50px;
  transform: rotate(40deg);
  background-image: url('/assets/poke.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 130% 20%;
}

@media screen and (min-width: 768px) {
  .hero:after {
    background-position: 90% 20%;
    right: -40vw;
    top: -120px;
  }
}

@media screen and (min-width: 1024px) {
  .hero:after {
    background-size: 65%;
    background-position: 90% 40%;
    right: -40vw;
  }
}

html,
body {
  scroll-behavior: smooth;
}
